.header {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm);
}

.acessibilidade {
    display: flex;
    align-items: center;
    justify-content: end;
}

.claroescuro {
    cursor: pointer;
}

.tamanhofonte {
    cursor: pointer;
    margin-right: var(--spacing-md);
}