.title {
  color: var(--black);
}

.layout {
  display: grid;
  grid-template-columns: 240px 1fr 360px;
  gap: 2rem;
  padding: 2rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.transactionsPanel {
  /* background-color: #ffffff; */
  border-radius: 8px;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}