.title {
  color: var(--black);
}

.pageContainer{
  display:flex;
}

.layout {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 24px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.mainContent {
  grid-column: span 5;

  @media (max-width: 768px) {
    grid-column: auto;
  }
}

.transactionLink {
  grid-column: span 3;

  @media (max-width: 768px) {
    grid-column: auto;
  }
}

.transactionsPanel {
  border-radius: 8px;

}