.title {
  color: var(--black);
}

.layout {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-lg);
  /* gap: 1.5rem; */

  @media (max-width: 768px) {
    padding: 0;
  }
}

.transactionsPanel {
  /* background-color: #ffffff; */
  border-radius: 8px;
  /* padding: 1rem 1.5rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}