:root {
  --background-light: #e4ede3;
  --background-accent: #ff5031;
  --background-primary: #004d61;
  --background-muted: #dee9ea;
  --background-lightest: #f8f8f8;
  --black: #000000;
  --white: #ffffff;
  --green: #47a138;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--background-primary);
  background: var(--background-light);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
