.transactionsList {
  padding: var(--spacing-xl) var(--spacing-lg);
  background: var(--color-bg-components);
  width: 35vw;
  border-radius: var(--radius-md);

  @media (max-width: 768px) {
    width: 90vw;
  }
}

.transactionsListHome {
  padding: var(--spacing-xl) var(--spacing-lg);
  background: var(--color-bg-components);
  width: 18vw;
  border-radius: var(--radius-md);

  @media (max-width: 768px) {
    width: 90vw;
  }
}

.transactionItem {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  border-bottom: 1px solid #47a138;
  margin-bottom: var(--spacing-lg);

  &:last-child {
    margin-bottom: 0;
  }
}

.transactionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transactionMonth {
  font-size: var(--font-size-sm);
  color: #47a138;
}

.transactionInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transactionInfo .transactionType {
  font-size: var(--font-size-md);
  color: var(--color-text);
}

.transactionInfo .transactionDate {
  font-size: var(--font-size-sm);
  color: var(--color-text);
  opacity: 0.6;
}

.transactionValueAndDesc {
  margin-bottom: var(--spacing-sm);
}

.transactionValueAndDesc .transactionValue,
.transactionValueAndDesc .transactionDesc {
  font-size: var(--font-size-md);
  font-weight: bold;
  color: var(--color-text);
}

.transactionValueAndDesc .transactionValue {
  margin-top: var(--spacing-xs);
}

.transactionActions {
  display: flex;
  align-items: center;
}

.transactionEdit {
  margin-right: var(--spacing-sm);
}

.transactionEdit,
.transactionDelete {
  background-color: var(--color-primary);
  border-radius: 100%;
  padding: 8px;
  border: 0;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}