.Menu {
    background-color: var(--color-secondary);
    padding: var(--spacing-lg);
    height: fit-content;
    border-radius: var(--radius-md);
    grid-column: span 2;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.menuItem {
    color: var(--color-text);
    font-weight: normal;
    font-size: var(--font-size-md);
    text-align: center;
    border-bottom: 1px solid var(--color-text);
    padding: var(--spacing-md);
}

.menuLinks {
    list-style-type: none;
}

.menuLinks .start {
    color: #47A138;
    border-bottom: 1px solid #47A138;
}

.activeItem a {
    color: #47A138;
}